body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 800px;
    margin: 80px auto ;
    background: rgb(218, 232, 217);
    padding: 20px;
    border-radius: 8px;
}

.logo {
    width: 800px;
    background: white;
    margin: 300px auto;

}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 15px;
}

input {
    width: 80%;
    padding: 32px;
    margin-bottom: 8px;
}

button {
    width: 100%;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.delete-form button {
    background: #dc3545;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}

.flash.error {
    background: #f8d7da;
    color: #721c24;
}

.flash.success {
    background: #d4edda;
    color: #155724;
}

.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.numero {
    font-weight: bold;
    margin-right: 5px;
}

.heure {
    color: #666;
    font-size: 0.9em;
    margin-right: 5px;
}
