body {
    margin: 0;
    font-family: system-ui , sans-serif;
    background: linear-gradient(120deg, #f0f4ff, #0a2048);
}
    
.page {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

.folie{
    min-height: 100vh;
    flex-direction: column;
    display: flex;

}
.header {
    text-align: center;
    padding: 0px 10px;
}

.sous-titre {
    color: #181515;
}

.content {
    width: 800px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.form input {
    width: 95%;
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}



.form_bis input {
    width: 90%;
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 12px;

}
.form input:focus {
    outline: none;
    border-color: #4a7cff;
}

.form_bis input:focus {
    outline: none;
    border-color: #4a7cff;
}
.form_bis input:hover {
    background-color: #00ff8c;
}

.form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #4a7cff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form_bis button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #4a7cff;
    color: white;
    font-weight: bold;
    cursor: pointer;


}


.form_bis button:hover {
    background: #00ff8c;
}

.alert {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.alert.error {
    background: #ffe5e5;
    color: #a10000;
}

.alert.success {
    background: #e6ffed;
    color: #0f5132;
}

.message {
    padding: 1px;
    border-bottom: 1px solid #9c0a0a;
}

.message-header {
    display: flex;
    justify-content: space-between;
}

.affichage{
    color:#0d0d0d;



}
.footer {
    text-align: center;
    padding: 15px;
    font-size: 0.8em;
    color: #777;
}
